.foot {
  background-color: var(--secondary-bg);
  color: var(--text-color);
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid var(--border-color);
}

select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background-color: var(--primary-bg);
  color: var(--text-color);
  appearance: none; /* Elimina los estilos nativos del SO */
}

select:hover {
  border-color: var(--accent-color);
}

select:focus {
  outline: none;
  border-color: var(--hover-accent);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

select:disabled {
  opacity: 0.5;
  pointer-events: none;
}

button {
  background-color: var(--button-bg);
  color: var(--text-color);
  border: none;
  height: 2rem;
  text-align: center;
  border-radius: 5rem;
  font-size: medium;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: all 0.3s ease;
}

button:hover {
  cursor: pointer;
  background-color: var(--button-hover);
}

p {
  padding: 1rem;
}

.flex-boton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  align-items: center;
}
