.elemento {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid var(--border-color); /* Usamos la paleta de colores */
    font-size: 1rem;
    background-color: var(--secondary-bg); /* Fondo consistente con la paleta */
    color: var(--text-color);
}

.elemento p {
    margin: 0;
    padding-right: 1rem;
    white-space: nowrap; /* Evita que el texto se corte */
    overflow: hidden;
    text-overflow: ellipsis; /* Si el texto es demasiado largo, añade "..." */
}

.procesos {
    height: 18rem;
    overflow-y: auto; /* Scroll solo vertical */
    border: 1px solid var(--border-color); /* Añade borde usando la paleta */
    border-radius: 10px;
    padding: 1rem;
    background-color: var(--tertiary-bg); /* Fondo oscuro */
}

.column {
    display: flex;
    flex-direction: column;
    gap: 0.5rem; /* Reduce el espacio entre los botones */
}

button {
    background-color: var(--button-bg); /* Fondo del botón usando la paleta */
    color: var(--text-color);
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: var(--button-hover); /* Efecto hover con la paleta */
}

/* Estilos responsivos */
@media only screen and (max-width: 768px) {
    .elemento {
        flex-direction: column; /* Elementos se apilan en pantallas pequeñas */
        align-items: flex-start;
    }

    .column {
        flex-direction: row; /* Botones en fila en pantallas pequeñas */
        gap: 1rem;
        justify-content: flex-start;
        width: 100%;
    }

    button {
        width: 100%; /* Botón ocupa todo el ancho disponible */
    }
}

@media only screen and (max-width: 480px) {
    .procesos {
        height: 15rem; /* Reduce la altura en pantallas más pequeñas */
    }

    button {
        padding: 10px 0;
    }
}
