.fija {
    display: flex;
    flex-direction: row;
    overflow: hidden; /* Evita que la página tenga scroll */
}

.left-section {
    display: flex;
    flex-direction: column;
    width: 50%; /* Mitad izquierda de la pantalla */
    overflow-y: auto; /* Permite scroll solo en la parte izquierda */
    padding: 1rem;
}

.info {
    flex: 1;
    margin-bottom: 1rem;
}

.tabla {
    flex: 1;
    width: 100%;
    overflow-y: auto; /* Scroll en la tabla si es necesario */
    margin-top: 1rem;
}

.right-section {
    display: flex;
    justify-content: center;
    overflow-y: auto; /* Scroll en la tabla si es necesario */
    align-items: center;
    padding: 1rem;
}

.chart-container {
    max-height: 30rem;
    width: 70%;
    overflow-y: auto; /* Scroll en el gráfico si es necesario */
    margin-left: 2rem;
    display: flex;
    align-items: start;
    justify-content: center;

    border: 1px solid #ccc;
    padding: 1rem;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.cambio {
    background-color: var(--button-bg); /* Usando la paleta de colores */
    color: var(--text-color);
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
}

.cambio:hover {
    background-color: var(--button-hover);
}

/* Responsividad */
@media only screen and (max-width: 768px) {
    .fija {
        flex-direction: column;
    }

    .left-section, .right-section {
        width: 100%;
        height: 50vh;
    }
}
